<?xml version="1.0"?>
<robot name="rover_abb" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="prefix" default="" />
    
    <!--xacro del rover-->
    <xacro:include filename="$(find rover_description)/urdf/robot.urdf.xacro"/>    

    <!--xacros del ABB-->
    <xacro:include filename="$(find abb_irb120_description)/urdf/abb.xacro" /> 

    <!--link para unir el rover con el abb-->
    <joint name="union_rover_abb" type="fixed">
        <parent link="$(arg prefix)base_link"/>
        <child link="arm_base_link"/> 
        <origin xyz="0 0 0.425" rpy="0 0 0"/> 
    </joint>


</robot>