<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin 
      filename="gz-sim-diff-drive-system" 
      name="gz::sim::systems::DiffDrive">
      <!--Los joints usados por el controlador diferencial-->
      <left_joint>$(arg prefix)left_front_wheel_joint</left_joint>
      <left_joint>$(arg prefix)left_rear_wheel_joint</left_joint>

      <right_joint>$(arg prefix)right_front_wheel_joint</right_joint>
      <right_joint>$(arg prefix)right_rear_wheel_joint</right_joint>

      <wheel_separation>0.9</wheel_separation>
      <wheel_radius>0.15</wheel_radius>

      <max_wheel_torque>1000</max_wheel_torque>    
      <max_wheel_acceleration>5.0</max_wheel_acceleration>

      <!--Topic para la odometría-->
      <frame_id>$(arg prefix)odom</frame_id>
      <child_frame_id>$(arg prefix)base_footprint</child_frame_id>

      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf> <!-- ESTO UNE EL ÁRBOL -->
      <publish_wheel_tf>true</publish_wheel_tf>

      <topic>$(arg prefix)cmd_vel</topic>
      <odom_topic>$(arg prefix)odom</odom_topic>
      <tf_topic>$(arg prefix)tf</tf_topic>

    </plugin>
  </gazebo>
      <!--Publica el estado de la articulación a ROS--> 
  <gazebo>  
    <plugin 
      filename="gz-sim-joint-state-publisher-system" 
      name="gz::sim::systems::JointStatePublisher">
      <joint_name>$(arg prefix)left_front_wheel_joint</joint_name>
      <joint_name>$(arg prefix)left_rear_wheel_joint</joint_name>
      <joint_name>$(arg prefix)right_front_wheel_joint</joint_name>
      <joint_name>$(arg prefix)right_rear_wheel_joint</joint_name>
      <update_rate>50</update_rate>
    </plugin>
  </gazebo>
</robot>