<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lidar_plugin" params="prefix">

    <gazebo reference="laser_link">
      <sensor type="ray" name="lidar">
        <update_rate>10</update_rate>

        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
          </scan>

          <range>
            <min>0.1</min>
            <max>10.0</max>
          </range>
        </ray>

        <always_on>true</always_on>
        <visualize>true</visualize>
        
        <topic>/model/rover/scan</topic>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>